<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>devlist</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO Twitter Cards, Open Graph -->
    <link rel="icon" type="image/png" href="http://www.devlist.co/img/puking_rainbows.png" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript">
  window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
  window.analytics.load("ytbksmideg");
  window.analytics.page();
</script>

  </head>
  <body>
    <header class="jumbo pure-g">
      <div class="pure-u-1 pure-u-md-1-5">

        <a href="https://twitter.com/share" class="twitter-share-button" data-via="devlistco" data-related="devlistco" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
      </div>
      <h2 class="pure-u-1 pure-u-md-3-5"><a href="/"><span>var</span> <span>'</span>devlist<span>'</span> <span>=</span> <span>'</span>The best coupons for developers.<span>';</span></a></h2>
      <div class="pure-u-1 pure-u-md-1-5">
      </div>
    </header>

    <main class="list pure-g" ng-controller="CouponsController">
      <section class="pure-u-1 pure-u-md-3-4">
        <i class="icon ion-ios7-search search-icon"></i>
        <input class="pure-u-1" type="search" placeholder="Search" ng-model="query" autofocus ng-change="trackFilterByQuery()">
        <ul>
          <li class="pure-g head">
            <div class="pure-u-1 pure-u-md-1-5" ng-class="{ordered: (predicate === 'company')}">
              <a href="" ng-click="predicate='company'; reverse=!reverse">
                <i class="icon ion-chevron-up" ng-if="predicate === 'company' && !reverse"></i>
                <i class="icon ion-chevron-down" ng-if="predicate === 'company' && reverse"></i>
                <strong>Company</strong>
              </a>
              <a href="" ng-click="predicate=''; reverse=false" class="icon ion-close reset-order" ng-show="predicate === 'company'"></a>
            </div>
            <div class="pure-u-1 pure-u-md-2-5" ng-class="{ordered: (predicate === 'description')}">
              <a href="" ng-click="predicate='description'; reverse=!reverse">
                <i class="icon ion-chevron-up" ng-if="predicate === 'description' && !reverse"></i>
                <i class="icon ion-chevron-down" ng-if="predicate === 'description' && reverse"></i>
                <strong>Description</strong>
              </a>
              <a href="" ng-click="predicate=''; reverse=false" class="icon ion-close reset-order" ng-show="predicate === 'description'"></a>
            </div>
            <div class="pure-u-1-2 pure-u-md-1-5" ng-class="{ordered: (predicate === 'code')}">
              <a href="" ng-click="predicate='code'; reverse=!reverse">
                <i class="icon ion-chevron-up" ng-if="predicate === 'code' && !reverse"></i>
                <i class="icon ion-chevron-down" ng-if="predicate === 'code' && reverse"></i>
                <strong>Coupon code</strong>
              </a>
              <a href="" ng-click="predicate=''; reverse=false" class="icon ion-close reset-order" ng-show="predicate === 'code'"></a>
            </div>
            <div class="pure-u-1-2 pure-u-md-1-5" ng-class="{ordered: (predicate === 'category')}">
              <a href="" ng-click="predicate='category'; reverse=!reverse">
                <i class="icon ion-chevron-up" ng-if="predicate === 'category' && !reverse"></i>
                <i class="icon ion-chevron-down" ng-if="predicate === 'category' && reverse"></i>
                <strong>Category</strong>
              </a>
              <a href="" ng-click="predicate=''; reverse=false" class="icon ion-close reset-order" ng-show="predicate === 'category'"></a>

            </div>
          </li>
          <li ng-repeat="coupon in coupons | filter:query | orderBy:predicate:reverse" class="pure-g">
            <div class="pure-u-1 pure-u-md-1-5">
              <a href="{{coupon.url}}" class="company">
                <img ng-src="{{coupon.favicon}}">
                {{coupon.company}}
              </a>
            </div>
            <div class="pure-u-1 pure-u-md-2-5">
              <a href="{{coupon.url}}" class="description">
                {{coupon.description}}
              </a>
            </div>
            <div class="pure-u-1-2 pure-u-md-1-5">
              <a href="{{coupon.url}}" class="code">
                {{coupon.code}}
              </a>
            </div>
            <div class="pure-u-1-2 pure-u-md-1-5">
              <span class="category" ng-click="filterByCategory(coupon.category)">
                {{coupon.category}}
              </span>
            </div>
          </li>
        </ul>
      </section>
      <aside class="pure-u-1 pure-u-md-1-4 info">
        <p>
          <strong>devlist</strong> is a <strong>coupon website for developers</strong>.
          Our goal is to create a list of products loved and curated by the best software
          engineers. We
          enable small startups, big corporations and individuals to promote
          their SaaS products, hosting solutions, educational materials or
          whatever software engineers might be interested in for free. We
          strongly believe that a much more effective way of user aquisition is
          needed.
        </p>
        <p>
          We are just getting started and hope you consider joining our journey.
          Our goal is to make your work easier and more effective.
        </p>
        <p>
          <button ng-click="jumpTo('subscribe')" class="subscribe"><i class="icon ion-email"></i> Subscribe via email!</button>
          <a href="https://docs.google.com/forms/d/1-YAcQDZsoeTsyxaXYJcj5RkNx2RTbFjino59_JC1PEk/viewform"><button class="submit"><i class="icon ion-plus"></i> Submit a coupon!</button></a>
        </p>
      </aside>
    </main>

    <section class="subscribe" id="subscribe" name="subscribe" ng-controller="SubscribeController">
      <h2>Subscribe to this list!</h2>
      <div class="pure-g">
        <form class="pure-u-1"ng-submit="subscribe()">
          <input type="email" id="email" placeholder="Your e-mail address" ng-focus="subscribing=true" ng-blur="subscribing=false" ng-model="email">
        </form>
        <div class="pure-u-1-1">
          <p>
            <label for="email">Get weekly notifications about interesting deals. - No spam.</label>
            <br>
            <span ng-show="success" class="success">
              Awesome! You successfully signed up for our weekly newsletter.
              <br>
              We won't disappoint you.
            </span>
          </p>
        </div>
      </div>
      <img src="img/puking_rainbows.svg">
    </section>

    <footer>
      <p>
        Thanks for using <strong>devlist</strong>. We <i class="ion-heart icon"></i> you.
        <br>
        If there is anything we can help with, please drop us a line:
        <a href="mailto:alexander.gugel@gmail.com">alexander.gugel@gmail.com</a>
        <br>
        Puking Rainbows designed by <a href="http://www.thenounproject.com/Mattebrooks">Matt Brooks</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
      </p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.22/angular-route.min.js"></script>
    <script src="app.js"></script>

    <script>
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.min.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
    </script>
  </body>
</html>
