<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>devlist</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata:400">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="jumbo">
      <h2><a href="/"><span>var</span> <span>'</span>devlist<span>'</span> <span>=</span> <span>'</span>The best coupons for developers.<span>';</span></a></h2>
    </header>

    <main class="list pure-g" ng-controller="CouponsController">
      <section class="pure-u-1 pure-u-md-3-4">
        <i class="icon ion-ios7-search search-icon"></i>
        <input class="pure-u-1" type="search" placeholder="Search" ng-model="query" autofocus>
        <ul>
          <li ng-repeat="coupon in coupons | filter:query" class="pure-g">
            <div class="pure-u-1 pure-u-md-1-5">
              <a href="{{coupon.url}}" class="company">
                <img ng-src="{{coupon.favicon}}">
                {{coupon.company}}
              </a>
            </div>
            <div class="pure-u-1 pure-u-md-2-5">
              <a href="{{coupon.url}}" class="description">
                {{coupon.description}}
              </a>
            </div>
            <div class="pure-u-1-2 pure-u-md-1-5">
              <a href="{{coupon.url}}" class="code">
                {{coupon.code}}
              </a>
            </div>
            <div class="pure-u-1-2 pure-u-md-1-5">
              <span class="category" ng-click="filterByCategory(coupon.category)">
                {{coupon.category}}
              </span>
            </div>
          </li>
        </ul>
      </section>
      <aside class="pure-u-1 pure-u-md-1-4 info">
        <p>
          <strong>devlist</strong> is a <strong>coupon website for developers</strong>.
          Our goal is to create a list of products loved and curated by the best software
          engineers. We
          enable small startups, big corporations and individuals to promote
          their SaaS products, hosting solutions, educational materials or
          whatever software engineers might be interested in for free. We
          strongly believe that a much more effective way of user aquisition is
          needed.
        </p>
        <p>
          We are just getting started and hope you consider joining our journey.
          Our goal is to make your work easier and more effective.
        </p>
        <p>
          <button ng-click="scrollTo('subscribe')" class="subscribe">Subscribe via email!</button>
        </p>
      </aside>
    </main>

    <section class="subscribe" id="subscribe" name="subscribe">
      <h2>Subscribe to this list!</h2>
      <div class="pure-g">
        <div class="pure-u-1">
          <input type="email" id="email" placeholder="Your e-mail address" ng-focus="subscribe=true" ng-blur="subscribe=false">
        </div>
        <div class="pure-u-1-1">
          <p>
            <label for="email">Get weekly notifications about interesting deals. - No spam.</label>
          </p>
        </div>
      </div>
    </section>

    <footer>
      <p>
        Thanks for using <strong>devlist</strong>. We <i class="ion-heart icon"></i> you.
        <br>
        If there is anything we can help with, please drop us a line:
        <a href="mailto:alexander.gugel@gmail.com">alexander.gugel@gmail.com</a>
      </p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
