/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.75;
}

.right {
  text-align: right;
}

body {
  color: #444;
  font-size: 13px;
}

input, textarea {
  margin-bottom: 1em;
  width: 100%;
  padding: 1em 0.75em;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #F7F7F7;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #E2E2E2;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}

button {
  padding: 1em 0.75em;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #0066cc;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

header, main, footer { padding: 0.5em; }

.state { display: none; }

header a {
  color: #aaa;
  text-decoration: none;
}

nav strong {
  font-weight: 600;
}

.logo {
  font-weight: 700;
  color: #222;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
}

.jumbo {
  background: #0066cc;
  color: #fff;
  text-align: center;
}

.jumbo h2 {
  display: inline-block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.jumbo h2 span {
  color: rgba(255, 255, 255, 0.2);
}

footer {
  margin-top: 5em;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.2);
}

footer a {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 900;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

footer .ion-heart {
  color: rgba(204, 0, 0, 0.2);
}

.list ul, .list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li .company {
  font-weight: 900;
  border-bottom: 1px solid #eee;
  color: #444;
  text-decoration: none;
}

.list li [class *= "pure-u"] {
  padding: 0.5em;
}

.list li span, .list li a {
  display: inline-block;
  padding: 0 0.5em;
  border: 3px solid transparent;
}

.list li .category {
  text-transform: uppercase;
  color: #ccc;
  border: 3px solid #eee;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-weight: 900;
}

.list li:hover {
  background: #f9f9f9;
}

.list .pure-u-md-1-4 button {
  margin-left: 0.5em;
  width: 100%;
  display: block;
}

@media screen and (min-width: 48em) {
  header, main, footer { padding: 1em; }

  .list .pure-u-md-3-4 input {
    margin-top: 1.5em;
  }

  .list .pure-u-md-3-4 {
    padding-right: 1em;
  }

  nav ul {
    text-align: right;
  }

  nav li {
    margin-left: 5px;
  }

  nav li:first-child {
    margin-left: inherit;
  }
}
