/* apply a natural box layout model to all elements */

*,
*:before,
*:after,
input[type=search] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /*font-family: "Inconsolata", "Lucida Console", Monaco, monospace;*/
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.75;
}

html {
  background: rgba(240, 240, 240, 0.37);
}

body {
  font-size: 14px;
  color: #222;
}

input:focus {
  outline: 0;
  border: 1px solid #0066cc;
}

input[type=search] {
  padding: 1em 1em 1em 2.5em;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  border: 0;
  background: #fff;
}

.search-icon {
  position: absolute;
  padding: 1em;
}

input[type=search]:focus {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

input,
textarea {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  width: 100%;
  padding: 1em 0.75em;
  background: #fff;
  border-top: 1px solid #C4C4C4;
  border-right: 1px solid #DADADA;
  border-bottom: 1px solid #E2E2E2;
  border-left: 1px solid #DADADA;
}

header,
main,
aside,
footer {
  padding: 0.5em;
}

header a {
  color: #fff;
  text-decoration: none;
}

button {
  border: 2px solid rgba(0, 0, 0, 0.8);
  background: none;
  color: #333;
  text-decoration: none;
  padding: 0.5em 0.75em;
  display: inline-block;
  margin-top: 0.5em;
  font-weight: bold;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  line-height: 1.5em;
}

button i {
  font-size: 1.5em;
}

.jumbo {
  color: #fff;
  text-align: center;
  background: #0066cc;
  border-bottom: 7px solid rgba(255, 255, 255, 0.2);
}

.jumbo h2 {
  margin: 0;
}

.jumbo h2 span {
  color: rgba(255, 255, 255, 0.3);
}

footer {
  color: rgba(0, 0, 0, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

footer a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

footer .ion-heart {
  color: rgba(204, 0, 0, 0.35);
}

.list ul,
.list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list .head {
  background: #fafafa;
}

.list .head .ordered a {
  color: #999;
}

.list .head .ordered a:first-child {
  padding-right: 0;
  border-right: 0;
  margin-right: 0.5em;
}

.list .head .ordered a:last-child {
  padding: 0;
  border: 0;
}

.list li {
  background: #fff;
  padding: 0.5em;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.list li .company {
  border-bottom: 1px solid #eee;
}

.list li [class*="pure-u"] {
  padding: 0.5em;
}

.list li span,
.list li a {
  display: inline-block;
  padding: 0 0.5em;
  border: 3px solid transparent;
  color: #222;
  text-decoration: none;
}

.list li .category {
  color: #ccc;
  text-transform: uppercase;
  border: 3px solid #eee;
  cursor: pointer;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.list li:hover {
  background: #fafafa;
}

section.subscribe {
  text-align: center;
  margin: 2em auto;
  width: 500px;
  max-width: 100%;
}

@media screen and (min-width: 48em) {
  header,
  main,
  footer,
  aside {
    padding: 1em;
  }

  .jumbo div:first-child {
    text-align: left;
    padding-top: 12px;
  }


  aside {
    padding-top: 0;
  }

  aside p:first-child {
    margin-top: 0;
  }
}
